<div id="header" class="{{classes}}">
    <div class="logo">
        <a href="http://node.llamasantos.com:8090">
            <img src="http://c.mfcreativedev.com/s/0/p/0/i/ances_logo.gif" width="197px" height="29px" />
        </a>
    </div>

    <ul class="top-menu">
        <li><a href="#/facebook">FB Connect</a></li>
        <li><a href="#">Option 2</a></li>
        <li><a href="#">Option 3</a></li>
        <li class="last-option"><a href="#">Option 4</a></li>
    </ul>

    <div class="user-panel" style="display:none;">
        <img class="person-image" />
        <div class="person-name"></div>
    </div>
</div>