<div id="content">
    <div id="get-started">
        Get started by clicking on "FB Connect"
    </div>

    <div class="cards-container" style="display:none;"></div>
    <div class="boxes-container" style="display:none;">
        <div id="apples" class="box"></div>
        <div id="oranges" class="box"></div>
    </div>
</div>