window.fbAsyncInit = function() {
    FB.init({
        appId      : '{{appId}}', // App ID
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
    });

    FB.getLoginStatus(function(response) {
        console.log(response);
        if (response.status === 'connected'){
            var uid = response.authResponse.userID;
            var accessToken = response.authResponse.accessToken;
        }
        else if (response.status === 'not_authorized'){
        // -- need to auth the app
        }
        else{
            // -- not logged into facebook
        }
    });
};

// Load the SDK Asynchronously
(function(d){
    var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    ref.parentNode.insertBefore(js, ref);
}(document));