<div class="card" fullName="{{fullName}}" fbId="{{id}}" obj="{{jsonObj}}">
    <div class="general-info">
        <div class="fb-image-container">
            <img class="fb-image" src="https://graph.facebook.com/{{id}}/picture?type=normal" />
        </div>
        <div class="first-name">{{first_name}}</div>
        <div class="last-name">{{last_name}}</div>
        <div class="dob">{{dob}}</div>
    </div>
    <div class="bio">{{gender}}; {{locale}}; {{resource}}; {{username}}</div>
</div>